/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.alert {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 500px;
}